<!DOCTYPE html>
<html>
<head>
  <title>Weather App 🌤️</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container">
    <h1>A Weather Fetching App 🌦️</h1>
    <p>Type the city name of your choice and get the weather.</p>
    <input type="text" id="cityInput" placeholder="Enter city name" />
    <button onclick="getWeather()">Get Weather</button>

    <div id="weatherResult" class="hidden">
      <h2 id="locationName"></h2>
      <img id="weatherIcon" />
      <p id="condition"></p>
      <p id="temperature"></p>
      <p id="humidity"></p>
      <p id="wind"></p>
    </div>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
